
<h1>{{ message }}</h1>
<h2>{{ submessage }}</h2>

<div class="profiles">
<div class="profile">
  <img src="images/profile.png" alt="Parents icon" width="270px">
  <li><a href="/parents" class="get-posts">Parents Profile</a></li>
</div>

<div class="profile">
  <img src="images/kids_profile.png" alt="Kids icon" width="270px">
  <li><a href="/kids" class="get-posts">Kids Profile</a></li>
</div>

</ul>
</div>
