
body {
  padding: 20px 50px 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #DFDBE5;
  background-color: #383838;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
a {
  color: #00B7FF;
  margin-bottom: 10px;
}

.links p
{
  display: block;
  float: left;
}

.links a{
  float: left;
  padding: 5px;
  font-size: 20px;
  color: white;
}

h1{
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;;
  font-size: 50px;
  text-align: center;
    color: white;
}

h2{
  font-family: sans-serif;
  font-size: 35px;
  text-align: center;
  color: white;
}


.moviefilt{
  text-align: center;
}

.filter{
  display: inline-block;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.filter p{
  color: white;
}

.filter:hover{
  cursor: pointer;
  text-decoration: underline;
}

.profiles{
margin: 0 auto;
display: table;
}

.back{

  padding: 40px;
  margin-top: 20px;
  font-size: 15px;
  background-color: #f44336;
   color: white;
   padding: 14px 25px;
   text-decoration: none;
}

.backButt{
  float: left;
  padding: 40px;
  margin-top: 20px;
  font-size: 15px;
  background-color: #f44336;
   color: white;
   padding: 14px 25px;
   text-decoration: none;
}

.profile{
  padding: 40px;
  display: table;
  float: left;
  text-align: center;
  list-style: none;
}

#movImages{
  display: block;
  width: 200px;
}

#musicImages{
  display: block;
  width: 200px;
}

.profile li a{
  margin-top: 20px;
  font-size: 30px;
  background-color: #f44336;
   color: white;
   padding: 14px 25px;
   text-decoration: none;
}

.pages li{
  text-align: center;
  font-size: 30px;
  list-style: none;
  float: left;
  width: 450px;
  padding: 10px;
}

.today{
text-align: center;
}

.moviesTitle{
  color: #fff;
text-align: center;
}

.musicTitle
{
  color: #fff;
  text-align: center;
}

.heading{
  display: table;
  margin: 0 auto;
  padding-bottom: 50px;
}

.heading p{
  color: white;
}

.heading h4{
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
}

.heading li{
  list-style: none;
  float: left;
  width: 200px;
  height: 250px;
  padding: 5px;
}

.heading a{
  color: black;
}

img:hover{
  cursor: pointer;
}

audio{
  width: 600px;
  margin-top: 10px;
  float: left;
  display: block;
  clear: both;

}

.name{
  float: left;
  margin-top: 10px;
  margin-bottom: 0;
  clear: both;
}

.videoPlayer{
  margin: 0 auto;
  display: block;
  clear: both;
  width: 800px;
}

.desc{
  color: white;
  font-size: 20px;
  float: left;
  clear: both;

}

.buttons
{
  display: block;
  float: left;
  clear: both;
  margin-top: 5px;
  font-size: 20px;
  background-color: #f44336;
   color: white;
   padding: 15px 15px;
   text-decoration: none;
   margin-bottom: 10px;

}

#comment{
  clear: both;
  float: left;
  width: 500px;
  height: 100px;
  margin-bottom: 20px;
}
